
<div class="col-xs-3 js-generator-item" data-generator-item-iterator="{{ iterator }}">
    <div class="panel panel-warning">
        <div class="panel-heading clearfix">
            <div class="pull-right">
                <span class="btn btn-xs btn-info js-generator-item-move"><small><i class="glyphicon glyphicon-move"></i></small></span>
            </div>
            <h3 class="panel-title pull-left" style="width:calc(100% - 37px)">
                <input {% if item %}value="{{ item.name }}"{% endif %}
                        type="text" name="items[{{ iterator }}][name]" class="form-control" placeholder="Název">
            </h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <input {% if item %}value="{{ item.slug }}"{% endif %}
                       type="text" name="items[{{ iterator }}][slug]" class="form-control" placeholder="Slug">
            </div>
            <div class="form-group">
                <select type="text" name="items[{{ iterator }}][type]" class="form-control">
                    {% for type in types %}
                        <option {% if item and item.type == type.name %}selected{% endif %}>{{ type.name }}</option>
                    {% endfor %}

                    <optgroup label="Vazba">
                        {% for relation_module in modules %}
                            <option value="{{ relation_module.entityName }}"
                                    {% if item and item.type == relation_module.entityName %}selected{% endif %}>
                                {{ relation_module.name }}
                            </option>
                        {% endfor %}
                    </optgroup>
                </select>
            </div>
            <div class="checkbox">
                <label>
                    <input {% if item and item.required %}checked{% endif %} type="checkbox" name="items[{{ iterator }}][required]">
                    Povinná položka
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input {% if item and item.tableShow %}checked{% endif %} type="checkbox" name="items[{{ iterator }}][tableShow]">
                    Zobrazit v záhlaví tabulky
                </label>
            </div>
            <span class="btn btn-sm btn-danger js-generator-item-remove"><i class="glyphicon glyphicon-remove"></i></span>
        </div>
    </div>
</div>