{% extends "admin/default.html.twig" %}

{% block content %}

    <h1>Stránky - úprava</h1>

    <form action="{{ _router.generateUrl("admin_page_edit", {"id":page.id}) }}" method="post">
            <div class="form-group">
                <label for="form_edit_title">Nadpis</label>
                <input value="{{ page.Title }}" type="text" name="title" class="form-control" id="form_edit_title">
            </div>
            <div class="form-group">
                <label for="form_edit_text">Text</label>
                <textarea class="form-control" name="text" rows="10" id="form_edit_text">{{ page.Text }}</textarea>
            </div>
            <div class="form-group">
                <label for="form_edit_date_publish">Datum publikování</label>
                <input value="{{ page.DatePublish.format("Y-m-d") }}" type="date" name="date_publish" class="form-control" id="form_edit_date_publish">
            </div>
            <div class="checkbox">
                <label>
                    <input {% if page.Published %}checked{% endif %} type="checkbox" name="published" value="1">
                    Zobrazovat
                </label>
            </div>
            <div class="form-group">
                <label for="form_edit_author">Autor</label>
                <input value="{{ page.Author }}" type="text" name="author" class="form-control" id="form_edit_author">
            </div>
            <div class="checkbox">
                <label>
                    <input {% if page.Neco %}checked{% endif %} type="checkbox" name="neco" value="1">
                    Neco
                </label>
            </div>
        <button type="submit" class="btn btn-default">Uložit</button>
    </form>

{% endblock %}