{% extends "admin/default.html.twig" %}

{% block content %}

    <h1>Novinky</h1>

    <p>
        <button class="btn btn-success" onclick="document.getElementById('form-add').style.display='block';this.style.display='none'">Přidat</button>
    </p>

    <div id="form-add" style="display: none">
        <form action="{{ _route.generateUrl("admin_news") }}" method="post">
            <div class="form-group">
                <label for="exampleInputEmail1">Titulek</label>
                <input type="text" name="title" class="form-control" id="exampleInputEmail1" placeholder="">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Obsah (HTML)</label>
                <textarea class="form-control" name="content" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="exampleInput">Datum</label>
                <input type="date" name="date" class="form-control" id="exampleInput" placeholder="">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="active" value="1">
                    Viditelný
                </label>
            </div>
            <button type="submit" class="btn btn-default">Přidat</button>
        </form>
        <br/>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            {% for new in news %}
                <tr>
                    <td>
                        <a href="{{ _router.generateUrl("admin_news_edit", {"id":new.id}) }}">{{ new.title }}</a>
                    </td>
                    <td width="110">
                        {{ new.date.format("d. m. Y") }}
                    </td>
                    <td width="130">
                        <a class="btn btn-xs btn-success" href="{{ _router.generateUrl("admin_news_edit", {"id":new.id}) }}">upravit</a>
                        <a class="btn btn-xs btn-danger" href="{{ _router.generateUrl("admin_news_delete", {"id":new.id}) }}"
                           onclick="return confirm('Opravdu?')">smazat</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}